{% extends 'layout.html'%}

{% block contents %}
{% if session['userID'] %}
<h1 class="text-center">WELCOME</h1>
<a> </a>
<h2 class = "text-center">Click to see the stock analysis!</h2>


    {% for temp_dic in kosdaq_list %}

    {% endfor %}
</table>
{% else %}
<h1 class="text-center">WELCOME</h1>
<h2 class="text-center">Sign up to see the stock analysis!!</h2>
<hr>
<h2 class="text-center">
    <a href="/login" class="btn btn-dark">LOG IN</a>
    <hr>
    <a href="/add" class="btn btn-dark">SIGN UP</a>
</h2>
<hr>
{% endif %}

{% endblock %}