{% extends 'layout.html'%}

{% block contents %}
    <h1 class="text-center">WorldCity 테이블 전체 조회</h1>
    <hr>
    <form action="/search_worldcity_list" class="text-center" >
        <input type="text" name="worldcity_name"
            required placeholder="worldcity_name">
        <button class="btn btn-success">검색</button>
    </form>
    <hr>
    <h2 class ="text-center">총 레코드 수 : {{totalcount}}</h2>
    <hr>
    <p class="text-center"><a href="/worldcity_add" class="btn btn-info"></a>레코드 추가</a></p>
    <hr>
    <table cellpadding="10" cellspacing="0" align="center"
    class="table table-bordered table-hover" style="width:80%">
        <tr class="table-primary text-center">
            <th>No</th>
            <th>Code</th>
            <th>Name</th>
            <th>GNP</th>
            <th>Population</th>
            <th>Detail</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        {% for temp_dic in worldcity_list %}
        <tr>
            <td>{{temp_dic.No}}</td>
            <td>{{temp_dic.Code}}</td>
            <td>
                 {{temp_dic.Name}}
            </td>
            <td>${{temp_dic.GNP}}</td>
            <td>약 {{temp_dic.Population}}명</td>
            <td><a href = "/worldcity/{{temp_dic.No}}" class="btn btn-primary"> View </a></td>
            <td><a href = "/worldcity_delete/{{temp_dic.No}}" class="btn btn-success"> Delete </a></td>
            <td><a href = "/worldcity_update/{{temp_dic.No}}" class="btn btn-danger"> Edit </a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}