{% extends 'layout.html'%}

{% block contents %}
    <h1>레코드 수정</h1>
    <hr>
    <form action="/worldcity_update_pro" method="post">
        <input type="hidden" name="c_no" value={{ temp_dic.No }}>
        <label>CODE : {{ temp_dic.Code }} </label>
        <label>NAME : {{ temp_dic.Name }} </label>
        <label>GNP : <input type="text" name="c_gnp" value={{ temp_dic.GNP }} required ></label>
        <label>POPULATION : <input type="text" name="c_population" value={{ temp_dic.Population }} required></label>
        <br>
        <input type="submit" value="수정"> 
        <input type="reset" value="취소">
      </form>
      <p><a href="/worldcity_list">취소</a></p>

{% endblock %}