<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Test</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/form_pro" method="POST">
        <select id="myselection" name="myselection">
            <option>Select Option</option>
            <option value="One">One</option>
            <option value="Two">Two</option>
            <option value="Three">Three</option>
        </select>
        <hr>
        <input type="submit" value="OK">
    </form>
</body>
</html>