
<script> 
 response.setHeader("Cache-Control","no-cache");
 response.setHeader("Pragma","no-cache");
 response.setDateHeader("Expires",0);
 $.ajax({
            url: "/action_page",
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data) {
                $(".profile-pic").attr("src", $(".profile-pic").attr("src") + "?");
                alert("변경이 완료되었어요.");
            },
            error: function(data) {
                alert("변경에 실패했어요. TT")
            }
})
</script>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="wed, 04 jul 1973 16:00:00 gmt">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jong</title>
</head>
<body>
    <script> 
        var tmpDate = new Date(); 
        $("#itemImg").attr("src", "static/images/jin.png?"+tmeDate.getTime()); 
    </script>

    <img id="itemImg" src="static/images/jin.png?nocache=<?php echo time(); ?>"/>
    <p>종목 : {{name}}</p>
    <p>{{days}}일후현재보다{{per}}퍼센트 오를 예정</p>
    <p>beta계수 : {{beta1}}</p>
</body>
</html>