{% extends 'layout.html'%}

{% block contents %}
{% if session['userID'] %}
<h1 class = "text-center">코스닥 시세</h1>
<div class="graph" style="text-align: center;">
<img src="https://ssl.pstatic.net/imgstock/chart3/day90/KOSDAQ.png?sidcode=1597991223528" alt="그래프" width="550" height="400">
</div>
<table class="table table-hover">
    <tr class="table-info">
        <th class="text-center">DATE</th>
        <th class="text-center">END PRICE</th>
        <th class="text-center">DIFF</th>
        <th class="text-center">TRADING VOLUME</th>
    </tr>
    {% for temp_dic in kosdaq_list %}
    <tr>
        <td class="text-center">{{temp_dic.date}}</td>
        <td class="text-center">{{temp_dic.endprice}}</td>
        <td class="text-center">{{temp_dic.diff}}</td>
        <td class="text-center">{{temp_dic.tradingvolume}}</td>
 
    </tr>
    {% endfor %}
</table>
{% else %}
<h1 class="text-center">WELCOME</h1>
<h2 class="text-center">Sign up to see the stock analysis!!</h2>
<hr>
<h2 class="text-center">
    <a href="/login" class="btn btn-dark">LOG IN</a>
    <hr>
    <a href="/add" class="btn btn-dark">SIGN UP</a>
</h2>
<hr>
{% endif %}

{% endblock %}